$mobile: 592px;
$tablet: 992px;
$desktop-small: 1200px;

@mixin mobile {
    @media screen and (max-width: $mobile) {
        @content;
    }
}

@mixin tablet {
    @media screen and (max-width: $tablet) {
        @content;
    }
}

@mixin desktop-small {
    @media screen and (max-width: $desktop-small) {
        @content;
    }
}
    